/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
    border-color: red;
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
}

table.table tbody tr:hover {
    cursor: pointer;
    background-color: #faf8eb;
}